.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.resize {
  position: relative;
  width: 600px;
  height: 500px;
  background-color: aliceblue;
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-resize {
  width: 100%;
  height: 100%;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

.size-resize {
  width: 8px;
  height: 8px;
  border: 1px solid red;
}

.re-top {
  position: absolute;
  top: -4px;
  left: 50%;
  cursor: n-resize;
}

.re-right {
  position: absolute;
  right: -4px;
  top: 50%;
  cursor: e-resize;
}

.re-bottom {
  position: absolute;
  bottom: -4px;
  left: 50%;
  cursor: n-resize;
}

.re-left {
  position: absolute;
  left: -4px;
  top: 50%;
  cursor: e-resize;
}

.resize-block {
  position: absolute;
  z-index: 2;
}